.navbar 
{
    display : flex;
    padding : 10px;
    background-color: #fffbf2;
    margin-top : 15px;
}


.nav-link 
{
        text-decoration:none;
        color: #ffb957;
        font-size : 27px;
        font-family: 'Ubuntu', sans-serif;
}