.btn{
    background-color :#111111;
    color :#fff9e3;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    
}
p{
    font-size: 17px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
}

.remove{
    background-color :#111111;
    color :#fff9e3;
}
